# Functions in Data Types

### String Functions

### capitalize()

In [8]:
Company = 'cndro'

In [3]:
Company.capitalize()

'Cndro'

In [7]:
Company = ['cndro','pwc','wenovation']

C = []
for i in Company:
    B = i.capitalize()
    C.append(B)

['Cndro', 'Pwc', 'Wenovation']

### index()

In [9]:
NUm = Company.index('c')

0

### count()

In [10]:
Company.count('c')

1

### find()

In [11]:
statement = 'Read Books for the Python Class'

In [12]:
statement.find('for')

11

### isupper()

In [13]:
statement.isupper()

False

In [14]:
'CNDRO'.isupper()

True

In [15]:
Company = 'CNDRO'

In [16]:
Company.isupper()

True

### join()

In [21]:
blog1 = 'Hello Cndro','how are you doing today'

blog2 = 'Hello Anu, Have you eaten today?'

In [20]:
','.join(blog1)

'Hello Cndro,how are you doing today'

In [23]:
blog = (blog1, blog2)

In [24]:
blog

(('Hello Cndro', 'how are you doing today'),
 'Hello Anu, Have you eaten today?')

In [25]:
' '.join(blog1)

'Hello Cndro how are you doing today'

### lstrip()

In [26]:
Name =  " ....,,, Omolayo"

In [27]:
Name

' ....,,, Omolayo'

In [29]:
Name.lstrip(" ...., ")

'Omolayo'

### rstrip()

In [30]:
Name = 'Hammed . . . '

In [31]:
Name.rstrip(" ... .")

'Hammed'

### replace()

In [35]:
City = "Lagos, Ibadan, London, New york, Houston"

In [36]:
City

'Lagos, Ibadan, London, New york, Houston'

In [37]:
City.replace("Lagos", "Akure")

'Akure, Ibadan, London, New york, Houston'

###  rsplit()

In [38]:
Name = "Hammed, Omolayo, Anu, Kehinde"

In [39]:
Name.rsplit(",")

['Hammed', ' Omolayo', ' Anu', ' Kehinde']

### List Functions

### append()

In [40]:
Cndro = ['Hammed', 'Anu', 'Omolayo']

In [41]:
Cndro.append('Kehinde')

In [42]:
Cndro

['Hammed', 'Anu', 'Omolayo', 'Kehinde']

### copy()

In [43]:
Digital = Cndro.copy()

In [44]:
Digital

['Hammed', 'Anu', 'Omolayo', 'Kehinde']

### count()

In [45]:
Digital.count('Hammed')

1

### index()

### insert()

### remove()

### extend()

In [ ]:
Extend() and Append()

In [53]:
B = [2,2,3,6,4,5]
A = [8,5,2,4,7,1]

In [47]:
B.extend(A) # Extend List

In [48]:
B

[2, 2, 3, 6, 4, 5, 8, 5, 2, 4, 7, 1]

In [54]:
B.append(A)

In [56]:
len(B)

7